# Derived from the Minecraft Forge 1.20.1-47.4.10 MDK (LGPL-2.1-only).
# Modified by AdvancedRocketry-Community on 2026-08-26, 2026-08-27, and 2026-08-30; see THIRD-PARTY-NOTICES.md.
* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
.github/CODEOWNERS text eol=lf
.github/CODEOWNERS.example text eol=lf
*.md text eol=lf
*.txt text eol=lf
docs/licenses/*.txt text eol=lf -whitespace
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf
*.java text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.mcmeta text eol=lf
*.toml text eol=lf
*.xml text eol=lf
*.ps1 text eol=lf
gradlew text eol=lf
gradlew.bat text eol=crlf
*.jar binary
*.nbt binary
*.png binary
LICENSE text eol=lf
