* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
.github/CODEOWNERS text eol=lf
.github/CODEOWNERS.example text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf
*.java text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.json text eol=lf
*.mcmeta text eol=lf
*.toml text eol=lf
*.xml text eol=lf
*.ps1 text eol=lf
gradlew text eol=lf
gradlew.bat text eol=crlf
*.jar binary
*.nbt binary
*.png binary
LICENSE text eol=lf
